# Data Conversion Demo
#### This notebook will demonstrate the new functionality provided by the metadata conversion file `clean_air.util.file_converter.py`.

## Setup

In [26]:
import os
import openpyxl

import cap_sample_data
from clean_air.util import file_converter as fc

#### You will also need to set up cap-sample-data, as this is currently not in an importable format.

In [27]:
SAMPLEDIR = cap_sample_data.path

## Functions
#### This file has several methods defined within it, but the following three are intended to be accessed from the front end and as such will be demonstrated here.

## 1. convert_excel(filepath, output_location)
#### This function is for the ingestion of excel metadata files (drawn from the forms provided by Elle) and conversion of the necessary data into the required output format, which must be specified in the filename parameter.  Here are some examples of how to use it:

In [28]:
# 1) Setting up object with input and output paths
input_data = os.path.join(SAMPLEDIR, "test_data", "metadata_form_responses.xlsx")
save_location = os.path.join("assets", "tmp_output_files")
conversion_file = fc.MetadataForm(input_data, save_location)

# 2.a) Converting to json (make sure you specify filetype in the filename)
conversion_file.convert_excel('json')

# 2.b) Converting to yaml (again, specifying filetype as either `.yml` or `.yaml`)
conversion_file.convert_excel('yaml')

#### You can view the output files by navigating through the notebook home page (one level up) into `assets` and then into `tmp_output_files`.  Notice the different output formats in the two files.  I think they are rather lovely.

## 2. convert_netcdf(filepath, output_location)
#### This is designed to ingest aircraft data in netCDF format into CSV files.  There is no variation in filetype here, it only accepts netCDF as input and only provides CSV as output.

In [29]:
# 1) Set up your datafile object
input_data = os.path.join(SAMPLEDIR, "aircraft", "MOCCA_M251_20190903.nc")
save_csv = os.path.join("assets", "tmp_output_files", "MOCCA.csv")
conversion_file = fc.DataFile(input_data, save_csv)

# 2) Call the converter
conversion_file.convert_netcdf()

#### Once again, you can view the output files in `assets`/`tmp_output_files`.  The output format is difficult for a human to read, but easy for a machine.

## 3. generate_dataframe(filepath)
#### This is just in case we ever need a simple dataframe as opposed to a saved file.  It works for both excel and netCDF input files, and converts directly to a pandas dataframe, without removing or rearranging any data.

In [30]:
# 3.a) Getting a dataframe from an excel file
input_data = os.path.join(SAMPLEDIR, "test_data", "metadata_form_responses.xlsx")
excel_df = fc.generate_dataframe(filepath=input_data)

excel_df

,ID,Start time,Completion time,Email,Name,Title,First Name(s),Surname,Email Address,Affiliation,...,Air Quality,Meteorology,Health Impacts,If your dataset contains a category of variables that is not included here enter these details here,List any citations as they should appear in any publications using this data,List any acknowledgements as they should appear in any publications using this data,List any copyright conditions associated with this data,List any other information you wish to associate with this dataset,How would you like to submit your data?,Please select the files you wish to upload
0,1,2021-02-24 11:34:19,2021-02-24 11:44:21,eleanor.smith@metoffice.gov.uk,Eleanor Smith,Dr,Eleanor,Smith,eleanor.smith@metoffice.gov.uk,"Met Office, FitzRoy Road, Exeter, EX1 3PB, UK",...,Coarse Particulate Matter (PM10);Fine Particul...,Wind Speed;Temperature;Wind Direction;Relative...,NaN,NaN,Air quality modelling using the Met Office Uni...,The research leading to these results has been...,"(c) Crown Copyright, Met Office",NaN,Upload to web browser (for a maximum of 10 fil...,https://metoffice-my.sharepoint.com/personal/e...
1,2,2021-02-24 11:45:20,2021-02-24 12:01:19,eleanor.smith@metoffice.gov.uk,Eleanor Smith,Dr,Eleanor,Smith,eleanor.smith@metoffice.gov.uk,"Met Office, FitzRoy Road, Exeter, EX1 3PB, UK",...,Nitrogen Dioxide (NO2);Ozone (O3);Sulphur Diox...,Wind Speed;Wind Direction;Temperature;Relative...,NaN,Additional instrument variables and calibratio...,Please cite use of these data as follows:\n(1)...,The research leading to these results has been...,"(c) Crown Copyright, Met Office",NaN,Upload to web browser (for a maximum of 10 fil...,https://metoffice-my.sharepoint.com/personal/e...
2,3,2021-02-24 12:03:57,2021-02-24 12:11:46,eleanor.smith@metoffice.gov.uk,Eleanor Smith,Dr,Eleanor,Smith,eleanor.smith@metoffice.gov.uk,"Met Office, FitzRoy Road, Exeter, EX1 3PB, UK",...,Ozone (O3);Nitrogen Monoxide (NO);Nitrogen Dio...,Wind Speed;Wind Direction;Temperature;,NaN,NaN,NaN,Data obtained from the Automatic Urban and Rur...,NaN,NaN,Upload to web browser (for a maximum of 10 fil...,https://metoffice-my.sharepoint.com/personal/e...

In [31]:
# 3.b) Getting a dataframe from a netcdf file
input_data = os.path.join(SAMPLEDIR, "aircraft", "MOCCA_M251_20190903.nc")
netcdf_df = fc.generate_dataframe(filepath=input_data)

netcdf_df

,Time,Latitude,Longitude,Altitude,Pressure,Temperature,Relative_Humidity,Wind_Speed,Wind_Direction,NO2,O3,SO2
time,,,,,,,,,,,,
0,2019-09-03 10:36:34,50.780052,-1.841920,103.0,1017.299988,291.15,67.599998,9.31,273.570007,NaN,78.4428,-1.370415
1,2019-09-03 10:38:14,50.796032,-1.889153,616.0,957.119995,287.15,83.300003,6.65,291.899994,1.080819,78.0436,0.231507
2,2019-09-03 10:39:58,50.845638,-1.795801,619.0,957.039978,285.52,98.699997,5.48,285.459991,NaN,72.6544,-0.798300
3,2019-09-03 10:42:02,50.900036,-1.671509,571.0,962.380005,285.65,100.000000,5.88,275.570007,NaN,72.2552,-2.192664
4,2019-09-03 10:43:42,50.953136,-1.586797,562.0,963.520020,286.05,97.199997,6.57,277.000000,1.194798,67.4648,-1.756260
5,2019-09-03 10:45:22,51.008766,-1.508778,563.0,963.080017,285.68,99.300003,4.67,272.829987,0.678378,65.4688,1.059078
6,2019-09-03 10:47:02,51.069984,-1.445433,560.0,964.159973,285.87,99.000000,4.11,273.489990,NaN,75.6484,NaN
7,2019-09-03 10:48:42,51.137547,-1.398512,559.0,963.799988,285.92,98.900002,6.80,267.049988,2.651164,75.6484,-0.726453
8,2019-09-03 10:50:22,51.186398,-1.310796,559.0,963.059998,285.50,100.000000,3.75,243.570007,3.356505,69.4608,2.118156
9,2019-09-03 10:52:02,51.207371,-1.193390,557.0,963.500000,285.65,100.000000,6.14,243.809998,1.027766,81.6364,-0.697182
10,2019-09-03 10:53:42,51.230194,-1.078091,564.0,961.880005,286.03,97.000000,4.85,263.010010,7.313228,67.2652,0.465675
11,2019-09-03 10:55:22,51.216087,-1.070772,567.0,962.299988,285.95,97.599998,5.92,237.490005,3.798662,71.6564,-0.731775
12,2019-09-03 10:57:02,51.262432,-1.008657,587.0,960.320007,286.20,93.599998,6.80,288.350006,3.878751,74.4508,-2.059614
13,2019-09-03 10:58:57,51.296280,-0.916588,547.0,964.320007,286.51,88.500000,6.05,234.289993,1.027262,61.2772,-0.564132
14,2019-09-03 11:00:50,51.289547,-0.786133,565.0,962.700012,286.77,85.699997,4.14,233.740005,0.101184,73.4528,0.133050
15,2019-09-03 11:02:30,51.340271,-0.750974,561.0,962.619995,286.96,84.500000,7.56,278.519989,4.099247,64.8700,0.497607
16,2019-09-03 11:04:10,51.388584,-0.818262,602.0,958.539978,286.64,83.800003,10.97,283.390015,0.122567,79.6404,-2.025021
17,2019-09-03 11:05:50,51.446709,-0.870431,595.0,958.739990,286.76,84.000000,8.34,260.200012,1.227321,67.2652,-0.532200
18,2019-09-03 11:07:31,51.458435,-0.970683,599.0,958.580017,286.60,85.800003,9.42,264.329987,2.902491,NaN,0.000000
19,2019-09-03 11:09:11,51.502495,-0.946711,598.0,958.039978,286.73,85.900002,3.78,267.730011,1.745679,NaN,-2.450781
20,2019-09-03 11:10:51,51.550110,-0.850837,596.0,958.539978,286.95,79.199997,5.34,260.630005,0.133149,NaN,-0.364557
21,2019-09-03 11:12:33,51.584522,-0.741423,590.0,959.659973,287.10,79.000000,4.14,248.759995,2.305778,NaN,-0.856842
22,2019-09-03 11:14:16,51.641636,-0.676185,594.0,958.299988,287.51,71.800003,4.46,284.410004,1.413831,72.0556,0.758385
23,2019-09-03 11:15:56,51.638779,-0.556564,594.0,958.239990,287.48,69.400002,6.90,251.669998,0.629415,78.0436,-0.164982
24,2019-09-03 11:17:36,51.643238,-0.434001,594.0,958.159973,287.05,77.000000,3.83,212.860001,1.754499,67.2652,-2.187342
25,2019-09-03 11:19:16,51.654507,-0.312173,591.0,958.400024,287.15,73.800003,5.75,251.660004,1.368820,74.2512,NaN
26,2019-09-03 11:21:45,51.655636,-0.124764,591.0,958.760010,287.17,70.199997,3.91,235.089996,NaN,NaN,0.329964
27,2019-09-03 11:23:26,51.652691,-0.002183,591.0,959.039978,287.30,71.699997,3.85,242.440002,4.427257,77.4448,-1.689735
28,2019-09-03 11:25:06,51.650642,0.116338,590.0,958.739990,287.08,73.300003,3.08,218.279999,7.934062,66.6664,-0.332625
29,2019-09-03 11:26:46,51.610668,0.200304,589.0,958.140015,286.96,72.900002,7.62,231.820007,8.518698,66.4668,NaN
30,2019-09-03 11:28:26,51.550903,0.268377,592.0,958.179993,286.92,72.900002,5.46,235.520004,NaN,59.2812,0.729114
31,2019-09-03 11:30:06,51.489742,0.331957,596.0,957.260010,287.10,73.599998,5.09,241.970001,15.111098,69.6604,0.000000
32,2019-09-03 11:31:54,51.421616,0.288910,594.0,958.500000,287.10,74.099998,8.55,256.549988,4.033491,72.4548,-0.463014
33,2019-09-03 11:33:34,51.359119,0.253058,652.0,951.840027,287.00,71.900002,11.38,259.010010,0.157393,79.4408,-0.729114
34,2019-09-03 11:35:14,51.335384,0.175763,654.0,951.580017,286.90,74.300003,8.74,276.959991,2.507561,79.2412,-0.463014
35,2019-09-03 11:36:55,51.333916,0.073560,653.0,951.780029,287.17,73.300003,9.57,272.809998,NaN,NaN,-2.086224
36,2019-09-03 11:38:54,51.331635,-0.047495,655.0,951.700012,287.07,73.599998,12.91,274.220001,NaN,74.0516,0.529539
37,2019-09-03 11:40:34,51.329319,-0.146315,626.0,954.780029,287.34,76.000000,9.49,268.010010,1.621290,67.4648,-2.208630
38,2019-09-03 11:42:14,51.326630,-0.245918,631.0,955.099976,287.19,78.300003,10.79,263.079987,0.159953,80.8380,-1.937208
39,2019-09-03 11:44:41,51.322502,-0.399696,627.0,954.919983,286.92,80.900002,9.33,270.429993,NaN,NaN,-0.164982
40,2019-09-03 11:46:46,51.318546,-0.533110,628.0,955.679993,286.88,81.800003,9.98,269.769989,1.136280,58.0836,0.463014
41,2019-09-03 11:48:27,51.315701,-0.636494,626.0,955.059998,286.67,85.199997,10.04,262.329987,NaN,NaN,-1.556685
42,2019-09-03 11:50:07,51.313065,-0.736672,630.0,954.760010,286.56,86.199997,11.52,262.820007,NaN,NaN,-1.987767
43,2019-09-03 11:51:47,51.295277,-0.832241,625.0,955.380005,286.46,86.699997,10.57,263.809998,NaN,NaN,-0.761046
44,2019-09-03 11:53:27,51.283760,-0.932008,626.0,955.359985,286.32,89.300003,10.79,265.320007,0.156337,NaN,0.564132
45,2019-09-03 11:55:07,51.269550,-1.029821,622.0,955.359985,286.16,94.000000,9.47,268.309998,NaN,NaN,-0.827571
46,2019-09-03 11:56:47,51.239792,-1.122255,619.0,955.760010,286.14,94.300003,10.17,266.450012,0.324239,NaN,-0.564132
47,2019-09-03 11:58:27,51.208080,-1.211760,621.0,956.140015,286.20,95.900002,9.45,266.660004,NaN,NaN,-0.463014
48,2019-09-03 12:00:07,51.177769,-1.302113,620.0,956.280029,285.77,99.900002,9.12,256.559998,NaN,NaN,-1.721667
49,2019-09-03 12:01:47,51.132420,-1.374150,624.0,956.099976,285.74,100.000000,11.04,264.489990,NaN,NaN,-2.615763
50,2019-09-03 12:03:27,51.097973,-1.458500,682.0,949.239990,286.12,97.699997,12.77,268.700012,NaN,NaN,-0.926028